<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drk.mkulimaapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_shopping_cart_"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_shopping_cart_"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.drk.mkulimaapp.MainActivity"
            android:label="Mkulima App"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.drk.mkulimaapp.TransactionActivity"/>
        <activity android:name="com.drk.mkulimaapp.Payment_final_Activity" />
        <activity android:name="com.drk.mkulimaapp.Pre_payment_Activity"/>
        <activity android:name="com.drk.mkulimaapp.Individual_product_view_Activity" />
        <activity android:name="com.drk.mkulimaapp.ApplyForBusinessAccActivity" />
        <activity android:name="com.drk.mkulimaapp.AddNewProductActivity" />
        <activity android:name="com.drk.mkulimaapp.About_developerAcitvity" />
        <activity android:name="com.drk.mkulimaapp.ChecksumActivity" />
        <activity android:name="com.drk.mkulimaapp.UpdateUserDetails" />
        <activity android:name="com.drk.mkulimaapp.ChangePasswordActivity" />
        <activity android:name="com.drk.mkulimaapp.AddnewAddressActivity" />
        <activity android:name="com.drk.mkulimaapp.MyaddressActivity" />
        <activity android:name="com.drk.mkulimaapp.MyAccount" />
        <activity android:name="com.drk.mkulimaapp.OrderActivity" />
        <activity android:name="com.drk.mkulimaapp.CartListActivity" />
        <activity android:name="com.drk.mkulimaapp.Preorder_confirmation_cartitems" />
        <activity android:name="com.drk.mkulimaapp.OrderConfirmation" />
        <activity
            android:name="com.drk.mkulimaapp.SignUp"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.drk.mkulimaapp.login"
            android:theme="@style/FullScreen" />
    </application>

</manifest>